<div class="dialog-content">
    <h2>Assign this key to a user</h2>
    
    <input type="hidden" name="key_type" value="{{ key.key_type}}" />
    <input type="hidden" name="key_base64" value="{{ key.key_base64 }}" />
    {% match key.comment %}
    {% when Some with (comment) %}
    <input type="hidden" name="key_comment" value="{{ comment }}" />
    {% when None %}
    {% endmatch %}

    <div class="form-group">
        <select hx-get="/user/select.htm" hx-swap="innerHTML" hx-trigger="load, reload-users from:body" name="user_id"></select>
    </div>

    <div class="button-group">
        <button type="submit" class="action-button">Assign</button>
    </div>
    <button hx-get="/user/add_dialog" hx-swap="none">Add a user</button>
</div>
