<input type="hidden" name="host_id" value="{{ host_id }}" />
<label>User</label>
<select hx-get="/user/select.htm" hx-swap="innerHTML" hx-trigger="load, reload-users from:body" name="user_id"></select>
<label>Login</label>
{# TODO: insert a placeholder here #}
<select id="host_login_selection" hx-get="/host/{{ host_name }}/logins" hx-trigger="load" hx-swap="outerHTML"
  name="login"></select>
<button type="button" hx-get="/host/{{ host_name }}/logins?force_update=true" hx-swap="outerHTML"
  hx-target="#host_login_selection">Reload
  logins</button>
<label>Options</label>
<input name="options">
<button>Authorize</button>
