{%- import "components.html" as components -%}

<label for="name">Name:</label>
<input type="text" id="name" name="name" value="{{ host.name }}" required />

<label for="address">Address:</label>
<input type="text" id="address" name="address" value="{{ host.address }}" required />

<label for="username">Username:</label>
<input type="text" id="username" name="username" value="{{ host.username }}" required />

<label for="port">Port:</label>
<input type="number" id="port" name="port" value="{{ host.port }}" required />

<label for="key_fingerprint">Key Fingerprint:</label>
<input type="text" id="key_fingerprint" name="key_fingerprint" value="{% call components::maybe(host.key_fingerprint, "No key fingerprint") %}" />

<label for="jump_via">Jump Via:</label>
<input type="text" id="jump_via" name="jump_via" value="{{ host.jump_via.unwrap_or(-1) }}" />

<button type="submit">Save Changes</button>

