{%- import "components.html" as components -%}

<thead>
  <tr>
    <th>Login</th>
    <th>User</th>
    <th>Options</th>
    <th>Tasks</th>
  </tr>
</thead>
<tbody>
  {% for (authId, username, login, sshOpts) in authorizations %}
  <tr>
    <td>{{ login }}</td>
    <td><a href="/user/{{ username }}">{{ username }}</a></td>
    <td>
      {% call components::maybe(sshOpts, "No options set") %}
    </td>
    <td>
      {% let s = format!("\"authorization_id\": {}", authId) %}
      {% call components::post("Edit", "/host/edit_authorization", s) %}
      {% call components::post_confirm("Delete","Are you sure you want to delete this authorization?",
      "/host/delete_authorization", s) %}
    </td>
  </tr>
  {% endfor %}
</tbody>
