{%- import "components.html" as components -%}

{% extends "base.html" %}

{% block content %}
<h1>Host: {{ host.name }}</h1>
{% set path="/host/" .to_owned() + host.name.as_str() + "/delete" %}
{% call components::post("Delete this host", path.as_str(), "" ) %}
<button hx-get="/host/{{ host.name }}/edit" hx-swap="none" class="btn btn-secondary">Edit</button>
<a class="btn btn-small" href="/diff/{{ host.name }}">View diff</a>
<p>Address: {{ host.address}}</p>
<p>Port: {{ host.port }}</p>
<p>Username: {{ host.username }}</p>
{% match host.key_fingerprint %}
{% when Some with (key_fingerprint) %}
<p>Key fingerprint: {{ key_fingerprint }}</p>
{% when None %}
<p>No key fingerprint available. <button hx-swap="none" hx-post="/host/{{ host.id }}/add_hostkey">Add now!</button></p>
{% endmatch %}
{% match jumphost %}
{% when Some with (via) %}
<p>Connecting via: <a href="/host/{{ via }}">{{ via }}</a></p>
{% when None %}
{% endmatch %}
<p>Allowed users:</p>
<table hx-trigger="load, reload-authorizations from:body" hx-get="/host/{{ host.name }}/authorizations.htm" placeholder="Loading" hx-swap="innerHTML">
</table>
<button hx-vals='{"host_id":"{{ host.id }}", "host_name":"{{ host.name}}"}' hx-get="/host/authorize" hx-swap="none">Add authorization to this host</button>
{% endblock %}
