{%- import "components.html" as components -%}

{% extends "base.html" %}

{% block content %}
<h1>Host: {{ host.name }}</h1>
{% set path="/host/" .to_owned() + host.name.as_str() + "/delete" %}
{% call components::post("Delete this host", path.as_str(), "" ) %}
<a class="button" href="/diff/{{ host.name }}">View diff</a>
<p>Address: {{ host.address}}</p>
<p>Port: {{ host.port }}</p>
<p>Username: {{ host.username }}</p>
{% match host.key_fingerprint %}
{% when Some with (key_fingerprint) %}
<p>Key fingerprint: {{ key_fingerprint }}</p>
{% when None %}
<p>No key fingerprint available. <button hx-swap="none" hx-post="/host/{{ host.id }}/add_hostkey">Add now!</button></p>
{% endmatch %}
{% match jumphost %}
{% when Some with (via) %}
<p>Connecting via: <a href="/host/{{ via }}">{{ via }}</a></p>
{% when None %}
{% endmatch %}
<p>Allowed users:</p>
<table hx-trigger="load, reload-authorizations from:body" hx-get="/host/{{ host.name }}/authorizations.htm" placeholder="Loading" hx-swap="innerHTML">
</table>
{% call components::form_head("/host/user/authorize") %}
<h2>Authorize a user on this host</h2>
<input type="hidden" name="host_id" value="{{ host.id }}" />
<label>User</label>
<select hx-get="/user/select.htm" hx-swap="innerHTML" hx-trigger="load, reload-users from:body" name="user_id"></select>
<label>Login</label>
{# TODO: insert a placeholder here #}
<select id="host_login_selection" hx-get="/host/{{ host.name }}/logins" hx-trigger="load" hx-swap="outerHTML"
  name="login"></select>
<button type="button" hx-get="/host/{{ host.name }}/logins?force_update=true" hx-swap="outerHTML"
  hx-target="#host_login_selection">Reload
  logins</button>
<label>Options</label>
<input name="options">
{% call components::form_tail("Authorize user") %}
{% endblock %}
