{%- import "components.html" as components -%}
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/style.css">
<div class="host-section">
    <div class="host-header">
        <h2 class="host-name">Users</h2>
        <div class="host-info">Manage SSH users and their access</div>
    </div>
    
    <div class="table-container">
        <table class="key-table" hx-trigger="load, reload-users from:body" hx-get="/users/list.htm" placeholder="Loading">
        </table>
    </div>
</div>

<div class="host-section">
    <div class="host-header">
        <h2 class="host-name">Add New User</h2>
        <div class="host-info">Create a new SSH user</div>
    </div>
    
    {% call components::form_head("/users/add") %}
    <div class="form-grid">
        <div class="form-group">
            <label>Name</label>
            <input type="text" required=true name="username" placeholder="Username">
        </div>
    </div>
    {% call components::form_tail("Add user") %}
</div>
{% endblock %}